# Registros
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Módulos de Node
node_modules

# Salidas de compilación
dist
dist-ssr

# Archivos de entorno local
*.local

# Directorios y archivos del editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Directorios de cobertura
coverage/

# Archivos temporales
.temp/

# Artefactos de compilación
.cache/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de variables de entorno
.env
.env.*

#ignorar vite
.vite/